.lognisignup{
    width: 100%;
    margin: auto;
    height: 80vh;
    background: #fce3fe;
    padding-top: 100px;
}
.lognisignup-container{
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}
.lognisignup-container h1{
    margin: 20px 0px;
}
.loginsignup-field{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.loginsignup-field input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.lognisignup-container button{
    width: 580px;
    height: 72px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

@media(max-width:1280px){
    .lognisignup{
        padding-top: 50px;
    }
    .lognisignup-container{
        width: auto;
        max-width: 500px;
        max-height: 500px;
    }
    .lognisignup-container h1{
        margin: 10px 0px;
    }
    .loginsignup-field{
        gap: 20px;
        margin-top: 20px;
    }
    .loginsignup-field input{
        height: 65px;
        box-sizing: border-box;
    }
    .lognisignup-container button{
        width: 100%;
    }
    .loginsignup-login{
        font-size: 16px;
    }
    .loginsignup-agree{
        font-size: 16px;
        gap: 10px;
    }
    .loginsignup-agree p{
        font-size: 14px;
    }
}

@media(max-width:1080px){
    /* .lognisignup-container button{
        width: 105%;
    }  */
    .loginsignup-field input{
        box-sizing: border-box;
    }
}
@media(max-width:800px){
    .lognisignup-container{
        /* padding: 20px 30px; */
        width: 90%;
        margin: 20px auto;
        box-sizing: border-box;
    }
    .lognisignup-container h1{
        font-size: 24px;
    }
    .loginsignup-field{
        margin-top: 20px;
    }
    .loginsignup-field input{
        height: 50px;
        box-sizing: border-box;
    }
    .lognisignup-container button{
        height: 50px;
        width: 105%;
        font-size: 16px;
    }
}
@media(max-width:500px){
    .lognisignup-container{
        padding: 20px 10px;
    }
    .lognisignup-container h1{
        font-size: 20px;
    }
    .loginsignup-field input{
        height: 40px;
        box-sizing: border-box;
    }
    .lognisignup-container button{
        height: 40px;
        font-size: 14px;
        width: 100%;
    }
}
@media(max-width:350px){
    .lognisignup-container button{
            width: 100%;
        }
    }